<div class="container">
  <!-- Footer -->
  <footer class="text-center text-lg-start link">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row p-4">
          <!--Grid column-->
          <div class="col-4 mb-4">
            <h5 class="text-uppercase">Enlaces</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="/recolect" class="link shine" routerLinkActive="activelink" ariaCurrentWhenActive="page">Reportar llantas</a>
              </li>
              <li>
                <a routerLink="/routes" class="link shine" routerLinkActive="activelink" ariaCurrentWhenActive="page">Transportista</a>
              </li>
              <li>
                <a routerLink="/routes" class="link shine" routerLinkActive="activelink" ariaCurrentWhenActive="page">Recolector</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-6 mb-4 mb-md-0 link">
            <h5 class="text-uppercase">Información de contacto</h5>

            <ul class="list-unstyled mb-0 link">
              <li>
                <a href="https://goo.gl/maps/weApq1trQXLpG4bN6" class="link shine" target="_blank"
                  ><fa-icon [icon]="faCompass"></fa-icon
                > Calle 45 sur # 77y-60</a>
              </li>
              <li>
                <a href="https://wa.me/3015008106" class="link shine" target="_blank"
                  ><fa-icon [icon]="faWhatsapp"></fa-icon
                > 3015008106</a>
              </li>
              <li>
                <a href="mailto:jbocane6@gmail.com" class="link shine" target="_blank"
                  ><fa-icon [icon]="faMailBulk"></fa-icon
                > jbocane6@gmail.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright">
      © 2022 Copyright:
      <a class="link" href="https://github.com/jbocane6"
        >Juan Bocanegra</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
