.container {
    margin-top: 25px;
    padding: 0%;
}
footer {
    background-color: #e3f2fd;
}
.copyright {
    background-color: white;
}
a {
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}