<div class="container">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-black">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row p-4">
          <!--Grid column-->
          <div class="col-4 mb-4">
            <h5 class="text-uppercase">Enlaces</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black">Reportar llantas</a>
              </li>
              <li>
                <a href="#!" class="text-black">Transportista</a>
              </li>
              <li>
                <a href="#!" class="text-black">Recolector</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Información de contacto</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-black"
                  ><fa-icon [icon]="faCompass"></fa-icon
                ></a>
              </li>
              <li>
                <a href="#!" class="text-black"
                  ><fa-icon [icon]="faPhone"></fa-icon
                ></a>
              </li>
              <li>
                <a href="#!" class="text-black"
                  ><fa-icon [icon]="faMailBulk"></fa-icon
                ></a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright">
      © 2022 Copyright:
      <a class="text-black" href="https://github.com/jbocane6"
        >Juan Bocanegra</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
