<div class="examples">
  <div class="carousel my-2 mx-2">
    <carousel
      [images]="images"
      [cellsToShow]="1"
      [cellsToScroll]="2"
      [autoplay]="true"
      [autoplayInterval]="3000"
      [arrows]="false"
      [margin]="20"
      [borderRadius]="5"
      [height]="500"
      [loop]="true"
    >
    </carousel>
  </div>
</div>

<nav>
  <ul class="menu">
    <li class="item">
      <a
        routerLink="/main"
        routerLinkActive="activelink"
        ariaCurrentWhenActive="page"
        ><p>INICIO</p></a
      >
    </li>
    <li class="item">
      <a
        routerLink="/recolect"
        routerLinkActive="activelink"
        ariaCurrentWhenActive="page"
        ><p>REPORTAR LLANTAS</p></a
      >
    </li>
    <li class="item">
      <a
        routerLink="/routes"
        routerLinkActive="activelink"
        ariaCurrentWhenActive="page"
        ><p>TRANSPORTISTA</p></a
      >
    </li>
    <li class="item">
      <a
        routerLink="/routes"
        routerLinkActive="activelink"
        ariaCurrentWhenActive="page"
        ><p>RECOLECTAR</p></a
      >
    </li>
  </ul>
</nav>

<div class="row me-3 mb-5 cards">
  <div class="col-md-8 first rounded">
    <div class="examples-2 h-100">
      <div class="flip-card h-100 w-100">
        <div class="flip-card-inner w-100">
          <div class="flip-card-front w-100">
            <img
              src="../../../assets/tires-1.jpeg"
              alt="tires-1"
              class="h-100 w-100"
            />
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="second h-50 rounded">
      <div class="flip-card h-100 w-100">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/tires-2.jpeg"
              alt="tires-2"
              class="h-100 w-100"
            />
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="third h-50 rounded">
      <div class="flip-card h-100 w-100">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/tires-3.jpeg"
              alt="tires-2"
              class="h-100 w-100"
            />
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
<div class="mt-5 mb-5">
  <h4 class="text-center my-3">EMPRESAS ASOCIADAS</h4>
  <div class="">
    <carousel
      [images]="companies"
      [cellsToShow]="2"
      [cellsToScroll]="2"
      [autoplay]="true"
      [autoplayInterval]="2000"
      [margin]="20"
      [height]="100"
      [loop]="true"
      [arrows]="false"
    >
    </carousel>
  </div>
</div>
