<div class="row">
  <div class="col-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11">
    <div class="row mt-5 me-1 py-2 rounded text-center">
      <div class="col-md-12 border formFrame">
        <div class="text-center mt-3">
          <h2>FinalManagers List</h2>
          <br />
        </div>
        <div class="row">
          <table
            class="table table-bordered table-warning border-dark mx-2 table-sm"
          >
            <thead table table-bordered>
              <th>Company Name</th>
              <th>Nit</th>
              <th>Contact Person</th>
              <th>Phone</th>
              <th>EDIT | DELETE</th>
            </thead>
            <tbody>
              <tr *ngFor="let finalManager of finalManagers">
                <td>{{ finalManager.companyName }}</td>
                <td>{{ finalManager.nit }}</td>
                <td>{{ finalManager.contactPerson }}</td>
                <td>{{ finalManager.phone }}</td>
                <td>
                  <a href="edit/{{ finalManager._id }}">EDIT</a> |
                  <button (click)="delFinalManager(finalManager._id)" class="btn btn-danger btn-sm">
                    DELETE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
