<nav class=" color">
  <div class="row justify-content-end">
    <div class="col-2">
      <ul class=" menu-right">
        <li class="item">
          <a href="https://twitter.com/Juanoso07555284" class="shine" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
        <li class="item">
          <a href="https://www.facebook.com/shisho253" class="shine" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
        </li>
        <li class="item">
          <a href="https://www.instagram.com/shisho253/" class="shine" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav>
  <ul class="menu">
    <div class="row">
      <div class="col-8 justify-content-start">
        <li class="item">
          <a routerLink="/main" routerLinkActive="activelink" ariaCurrentWhenActive="page"><img src="../../../assets/logo.png" alt="logo" class="logo shine"> Recotyre</a>
        </li>
      </div>
      <div class="col-4 d-flex justify-content-start">
        <li class="item w-50">
          <select class="form-select">
            <option selected disabled>Idioma / Language</option>
            <option value="español">Español</option>
            <option value="english">English</option>
          </select>
        </li>
        <li class="item w-50">
          <a href="#" class="shine text-black"><fa-icon [icon]="faUser"></fa-icon> Cuenta</a>
        </li>
      </div>
    </div>
  </ul>
</nav>
