<div class="row">
  <div class="col-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11">
    <div class="row me-1 py-2 rounded text-center">
      <div class="col-md-12 borders formFrame">
        <div class="text-center mt-3">
          <h2>CollectionPoints List</h2>
          <a
            href="/addCollectionPoint"
            class="btn btn-outline-success btn-sm mb-2"
            >Add</a
          >
          <br />
        </div>
        <div class="row">
          <table
            class="table table-bordered table-light border-dark mx-2 table-sm"
          >
            <thead table table-bordered>
              <th>Point Name</th>
              <th>nit</th>
              <th>Contact Person</th>
              <th>Phone</th>
              <th>EDIT | DELETE</th>
            </thead>
            <tbody>
              <tr *ngFor="let collectionPoint of collectionPoints">
                <td>{{ collectionPoint.pointName }}</td>
                <td>{{ collectionPoint.nit }}</td>
                <td>{{ collectionPoint.contactPerson }}</td>
                <td>{{ collectionPoint.cellPhone }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-info btn-sm"
                    data-bs-toggle="modal"
                    (click)="showCollectionPoint(collectionPoint)"
                  >
                    INFO
                  </button>
                  |
                  <a
                    href="editCollectionPoint/{{ collectionPoint._id }}"
                    class="btn btn-outline-secondary btn-sm"
                    >EDIT</a
                  >
                  |
                  <button
                    (click)="delCollectionPoint(collectionPoint._id)"
                    class="btn btn-outline-danger btn-sm"
                  >
                    DELETE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
