<div class="body pt-3">
  <div class="row">
    <div class="col-1">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-11 no_space">
      <nav class="row">
        <div class="col-3">
          <select class="form-select">
            <option selected disabled>Tipo de vehículo</option>
            <option value="turbo">Turbo</option>
            <option value="sencillo">Sencillo</option>
            <option value="doble troque">Doble troque</option>
          </select>
        </div>
        <div class="col-3">
          <select class="form-select">
            <option selected disabled>Capacidad</option>
            <option value="1">1 Tm</option>
            <option value="2">2 Tm</option>
            <option value="3">3 Tm</option>
          </select>
        </div>
      </nav>
      <div>
        <h4 class="origin">PUNTO DE ORIGEN</h4>
        <div class="row">
          <div class="col-10">
            <input
              type="text"
              name="direction"
              class="direction me-1"
              placeholder="Dirección"
            />
            <button type="button" class="backg">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
          <div class="col-2">
            <button type="button" class="btn backg search">
              Buscar Ruta
            </button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h4 class="assigned">PUNTOS ASIGNADOS</h4>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 points ms-3 rounded side"></div>
        </div>
      </div>
      <div>
        <h4 class="assigned">RUTA</h4>
        <div class="routes ms-2 me-2 mb-2 rounded">
          <div class="mapouter m-1">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="100%"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=Holberton,%20Bogot%C3%A1&t=&z=11&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe>
              ><br />
              >
            </div>
          </div>
        </div>
        <div class="text-center mb-2">
          <button type="button" class="btn backg rounded">
            Aceptar Ruta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
