nav {
  margin-top: 4px;
  padding: 9px 20px;
  background-color: #326c42;
}
.dropdown {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.info {
  margin-top: 100px;
}
.borders {
  border: 1px solid;
  border-color: #326c42;
}

.img {
  border: 1px solid #326c42;
}
.grey {
  background-color: #eeeeee;
}
.color2 {
  background-color: #326c42;
  color: #eeeeee;
}

button {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4),
    4px 4px 10px 2px rgba(100, 100, 250, 0.4),
    -4px 4px 10px 2px rgba(250, 100, 100, 0.4),
    -4px -4px 10px 2px rgba(100, 250, 100, 0.4),
    4px -4px 10px 2px rgba(250, 250, 100, 0.8);
}

button:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4),
    4px 4px 10px 2px rgba(250, 250, 100, 0.4),
    -4px 4px 10px 2px rgba(100, 100, 250, 0.4),
    -4px -4px 10px 2px rgba(250, 100, 100, 0.4),
    4px -4px 10px 2px rgba(100, 250, 100, 0.8);
}

* {
  cursor: url("../../../assets/tire-cursor.png"), auto;
}
.no_space {
  margin-left: -11px;
}
