<div class="row">
  <div class="col-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11 no_space">
    <nav class="row">
      <div class="col-3">
        <select class="form-select">
          <option selected disabled>Zona / Localidad</option>
          <option value="turbo">Turbo</option>
          <option value="sencillo">Sencillo</option>
          <option value="doble troque">Doble troque</option>
        </select>
      </div>
      <div class="col-3">
        <select class="form-select">
          <option selected disabled>Punto de recolección</option>
          <option value="casaToro">Casa Toro Américas</option>
          <option value="AutoCar">Taller AutoCar</option>
          <option value="jr">Taller Jr Reparaciones</option>
        </select>
      </div>
      <div class="col-6">
        <div class="w-100 d-flex justify-content-end">
          <input
            type="text"
            name=""
            class="w-50 rounded"
            placeholder="Buscar"
          />
          <button class="btn color2 ms-3">Buscar</button>
        </div>
      </div>
    </nav>
    <div class="info borders p-3">
      <h4 class="origin">DATOS DEL PUNTO</h4>
      <div class="row pb-3">
        <div class="col-8 py-3">
          <label class="border rounded w-75 ps-2 mb-4">Nombre del punto</label>
          <label class="border rounded w-75 ps-2 mb-4">Dirección</label>
          <label class="border rounded w-75 ps-2 mb-4"
            >Persona responsable</label
          >
        </div>
        <div class="col-4">
          <div class="img p-2 h-75 mb-2">
            <div class="grey w-100 h-100">
              <img src="" alt="" />
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn color2 search">
              Confirmar Punto
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 borders pt-3 ps-3">
      <h4 class="origin">DATOS DE LAS LLANTAS</h4>
      <form [formGroup]="tireForm">
        <div class="row pb-3">
          <div class="col-5 py-3">
            <select
              class="w-100 form-select"
              formControlName="tireType"
              (ngModelChange)="loadRhine($event)"
            >
              <option disabled selected>Tipo de llanta</option>
              <option *ngFor="let tyre of tyres" value="{{ tyre }}">
                {{ tyre }}
              </option>
            </select>
          </div>
          <div class="col-3 py-3">
            <select class="w-100 form-select" formControlName="tireRhine">
              <option selected disabled>Rin</option>
              <option *ngFor="let tyre of rhineList" value="{{ tyre.rhine }}">
                {{ tyre.rhine }}
              </option>
            </select>
          </div>
          <div class="col-4 py-3">
            <input
              formControlName="tireAmount"
              type="number"
              min="1"
              placeholder="Cantidad"
              class="w-50 me-1"
            />
            <button
              type="button"
              (click)="addToTable()"
              style="margin-top: -1px"
              class="btn color2 w-25 btn-sm add"
            >
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mt-5 mb-3">
      <table name="tires" class="table table-striped table-hover border">
        <thead>
          <tr class="color2 borders">
            <th scope="col" class="border">Tipo de llanta</th>
            <th scope="col" class="border">Rin</th>
            <th scope="col" class="border" colspan="2">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tireList">
            <td class="borders text-center">
              <span>{{ item.tireType }}</span>
            </td>
            <td class="borders text-center">
              <span>{{ item.tireRhine }}</span>
            </td>
            <td class="borders text-center">
              <span>{{ item.tireAmount }}</span>
            </td>
            <td class="borders text-center">
              <button type="button" class="btn color2" (click)="removeItem(item)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center mb-2">
      <button class="btn color2">Registrar Llantas</button>
    </div>
  </div>
</div>
