<div
  class="d-flex flex-column flex-shrink-0 mt-1 h-100 side"
  style="width: 4.5rem"
>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="/carrierList" class="nav-link py-3 border-bottom border-end shine">
        <fa-icon [icon]="faTruck"></fa-icon>
      </a>
    </li>
    <li>
      <a href="/collectionPointList" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faWarehouse"></fa-icon>
      </a>
    </li>
    <li>
      <a href="/collectorList" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faHelmetSafety"></fa-icon>
      </a>
    </li>
    <li>
      <a href="/finalManagerList" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faUserTie"></fa-icon>
      </a>
    </li>
    <li>
      <a href="/managerPointList" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faIndustry"></fa-icon>
      </a>
    </li>
    <li>
      <a href="/tireList" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faRing"></fa-icon>
      </a>
    </li>
    <li>
      <a href="/vehicleList" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faTruckPickup"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faUserFriends"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom shine">
        <fa-icon [icon]="faGear"></fa-icon>
      </a>
    </li>
  </ul>
</div>
