<div class="row">
  <div class="col-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11">
    <div class="row mt-5 me-1 py-2 rounded text-center">
      <div class="col-md-12 border formFrame">
        <div class="text-center mt-3">
          <h2>Tires List</h2>
          <a href="/addTire" class="btn btn-success btn-sm mb-2">Add</a>
          <br />
        </div>
        <div class="row">
          <table
            class="table table-bordered table-warning border-dark mx-2 table-sm"
          >
            <thead table table-bordered>
              <th>Brand</th>
              <th>Rhine</th>
              <th>Diameter</th>
              <th>Type</th>
              <th>EDIT | DELETE</th>
            </thead>
            <tbody>
              <tr *ngFor="let tire of tires">
                <td>{{ tire.brand }}</td>
                <td>{{ tire.rhine }}</td>
                <td>{{ tire.heightDimensions }}</td>
                <td>{{ tire.type }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    (click)="showTire(tire)"
                    >
                    INFO
                  </button>
                  |
                  <a href="editTire/{{ tire._id }}" class="btn btn-success btn-sm">EDIT</a> |
                  <button (click)="delTire(tire._id)" class="btn btn-danger btn-sm">
                    DELETE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
