<div
  class="d-flex flex-column flex-shrink-0 mt-1 h-100 side"
  style="width: 4.5rem"
>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faHome"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faFile"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faChartLine"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faInbox"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faImage"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faCalendar"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faUserFriends"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <fa-icon [icon]="faGear"></fa-icon>
      </a>
    </li>
  </ul>
</div>
