<div class="row">
    <div class="col-1">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-11">
      <div class="row mt-5 me-1 py-2 rounded text-center">
        <div class="col-md-12 border formFrame">
          <div class="text-center mt-3">
            <h2>Vehicles List</h2>
            <br />
          </div>
          <div class="row">
            <table class="table table-bordered table-info border-dark mx-2 table-sm" >
              <thead table table-bordered>
                <th>Type</th>
                <th>Brand</th>
                <th>vehiclePlate</th>
                <th>capacity kgs</th>
                <th>EDIT | DELETE</th>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicles">
                  <td>{{ vehicle.type }}</td>
                  <td>{{ vehicle.brand }}</td>
                  <td>{{ vehicle.vehiclePlate }}</td>
                  <td>{{ vehicle.capacity }}</td>
                  <td>
                    <a href="editVehicle/{{ vehicle._id }}" class="btn btn-success btn-sm">EDIT</a> |
                    <button (click)="delVehicle(vehicle._id)" class="btn btn-danger btn-sm">DELETE</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  