/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  margin-top: 5px;
  padding: 5px 20px;
  border: 1px solid;
  background-color: white;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.carousel {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}
.examples,
.examples-2 {
  border: 1px solid;
  border-color: #eeeeee;
}
.examples-2 {
  background-color: #eeeeee;
}
.companies {
  margin: 5px;
  background-color: #eeeeee;
  height: 50px;
}
h4 {
  margin-top: 5px;
}
.row {
  margin: 5px 0px 0px 0px;
  height: 400px;
}
.first,
.second,
.third {
  padding: 5px;
  border: 1px solid;
  border-color: #eeeeee;
}
.second,
.third {
  padding: 5px;
  margin-left: -5px;
  margin-right: -15px;
}
.second {
  margin-bottom: 1px;
}
.activelink {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}
